# Python ignores
# Byte-compiled files
*.py[cod]

# Virtual environments
venv/
.env/
.env*/
venv*/
ENV/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/

# Large data files
*.csv
*.xlsx
